#wrap {
    width: 100%;
}

/*head */
#header {
    width: 100%;
    height: 1000px;
    color:#9BB8D5;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header_in {
   width: 600px;
   height: 400px;
}

.header_in h1 {
    font-size: 50px;
    padding-bottom: 10px;
}
.header_in p {
    font-size: 20px;
    padding-bottom: 90px;
  
}
.header_in .button {
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
    border: 2px solid #9BB8D5;
    color:#9BB8D5;
	padding: 0 25px;
	text-align: center; 

}
/* main */
#main {
    width: 100%;
    height: 1000px;
}

.main_in {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.main_in img {
    width: 400px;
    height: 400px;
    position: relative;
    top: 250px;
    left: 50px;
    z-index: 9000;
   
} 

#main .intro {
    position: relative;
    top: 385px;
    left: 300px;
}

#main .intro h3 {
    font-size: 45px;
    color: #9BB8D5;
    margin-bottom: 30px;

}

#main .intro ul {
    width: 800px;
    height: 500px;
}
#main .intro ul li {
    display: inline-block;
    margin-bottom: 20px;
    
}
#main .intro span {
    display: inline-block;
    vertical-align: middle;
} 
#main .intro li .dt {
    padding: 5px 20px;
    background-color:#9BB8D5;
    font-size: 15px;
    color: #fff;
    border-radius: 20px;
   
}
#main .intro li .dd {
    font-size: 20px;
    font-weight: 700;
    padding: 0 54px 0 10px;
    color:#2D63A7;
}

.main_in .box {
    position: absolute;
    top: 1460px;
    left: center;
    width: 1400px;
    height: 500px;
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: -9999;
}
.main_in .shapes {
    position: absolute;   
}

.shapes .square {
    width: 60px;
    height: 60px;
    position: relative;
    top: 60px;
    left: -700px;
    background-color: #9BB8D5;
}

.shapes .square2 {
    width: 30px;
    height: 30px;
    position: relative;
    top: 100px;
    left: -680px;
    background-color:#9BB8D5;
}

.shapes .square3 {
    width: 30px;
    height: 30px;
    position: relative;
    top: -60px;
    left: -590px;
    background-color:#9BB8D5;
}

.shapes .square4 {
    width: 30px;
    height: 30px;
    position: relative;
    top: 80px;
    left: 650px;
    background-color:#9BB8D5;
}

.shapes .square5 {
    width: 50px;
    height: 50px;
    position: relative;
    top: -40px;
    left: 650px;
    background-color:#9BB8D5;
}
.shapes .square6 {
    width: 30px;
    height: 30px;
    position: relative;
    top: -130px;
    left: 600px;
    background-color:#9BB8D5;
}

/* about */
#about {
    width: 100%;
    height: 800px;
    margin-top: 20px;
}

.about_in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;

}

#about header {
  font-size: 6em;
  color: #9BB8D5;
  margin: 100px;
  padding-top: 50px;
}
#about ul {
    float: left;
    width: 650px;
    height: 600px;
    border-radius: 5px;
    background-color: #9BB8D5;
}
#about ul h3 {
    margin: 30px;
    font-size: 20px;
    color: #fff;
}
#about li {
    margin-left: 35px;
    margin-top: 20px;
}
#about li img{
    width:60px;
    height:60px;
}
#about .skill span {
    font-size: 18px;
    position: relative;
    top: -20px;
    left: 20px;
}

#about li .bar {
    display: inline-block;
    width: 350px;
    height: 30px;
    margin: 0 0 15px 0;
    border: 2px solid #fff;
  
}

#about li .bar1 {
   margin-left: 80px;
}

.bar1 .bar_in {
    width: 85%;
    height: 30px;
    background-color: #fff;
}

#about li .bar2 {
    margin-left: 100px;
}

.bar2 .bar_in {
    width: 80%;
    height: 30px;
    background-color: #fff;
} 

#about li .bar3 {
    margin-left: 80px;
}

.bar3 .bar_in {
    width: 75%;
    height: 30px;
    background-color: #fff;
} 

#about li .bar4 {
    margin-left: 50px;
}

.bar4 .bar_in {
    width: 60%;
    height: 30px;
    background-color: #fff;
} 

#about li .bar5 {
    margin-left: 85px;
}

.bar5 .bar_in {
    width: 40%;
    height: 30px;
    background-color: #fff;
} 
#about li .bar6 {
    margin-left: 80px;
}

.bar6 .bar_in {
    width: 40%;
    height: 30px;
    background-color: #fff;
} 

#about .box {
    float: right;
    width: 570px;
    height: 300px;
    margin-left: 100px;
    border-radius:5px;
    background-color: #9BB8D5;
}
#about .box p  {
    color: #fff;
    padding: 25px;

}
#about .box .txt1 {
    font-size: 25px;

}

#about .box .txt2 {
    display: block;
    margin-top: 30px;
    font-size: 20px;
}
.imoji {
    font-size: 30px;
    margin-bottom: 10px;
}
/*portfolio*/
#portfolio {
    width: 100%;
    position: relative;

}

.portfolio_in {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    
   
}

#portfolio header {
    font-size: 6em;
    color: #9BB8D5;
    margin-left: 100px;
    margin-top: 180px;
    padding-top: 50px;
}
.portfolio_in .box {
    margin: 60px auto;
    width: 1200px;
    background-color: #9BB8D5;
    border-radius: 5px;
}

.box1 .box1_in {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.box1 .box1_in h3 {
    font-size: 26px;
    text-align: left;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    color: #fff;
}

.box1 .box1_in img {
    width: 500px;
    float: right;
    margin:30px 0 30px 0;
    border: 2px solid #fff;
    border-radius: 5px;
}

.box2 .box2_in {
    position: relative;
    margin: 0 auto;
    width: 1100px;
}

.box2 .box2_in h3 {
    font-size: 26px;
    text-align: left;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    color: #fff;
}

.box2 .box2_in img {
    width: 500px;
    float: right;
    margin:30px 0 30px 0;
    border: 2px solid #fff;
    border-radius: 5px;
}


.port_txt {
    float: left;
    width: 400px;
    height: 250px;
    margin:30px 0 30px 0;
   
}

.port_txt p {
    color: #fff;
    font-size: 18px;
    line-height: 60px;
}

.port_txt .skils {
    display: flex;
    flex-direction: row;
}

.skils div {
    text-align: center;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #9BB8D5;
    border: 1px solid #fff;
}



.add_git a {
    color: #fff;
    font-size: 16px;
}






/* goal */
#goal {
    width: 100%;
    height: 800px;
}
.goal_in {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;

}
#goal header {
    font-size: 6em;
    color: #9BB8D5;
    margin: 100px;
    padding-top: 50px;
}

#goal ul {
    width: 1000px;
    height: 650px;
  
}

#goal li {
   margin: 0 auto;
    width: 800px;
    height: 160px;
    margin-top: 40px;
    background-color: #9BB8D5;
}

#goal .txt {
    display: inline-block;
    font-size: 20px;
}
/* contact */
#contact {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
 
}
#contact header {
    display: block;
    font-size: 6em;
    color: #9BB8D5;
    margin: 150px 0 50px 100px;
}
.contact_in {
    margin: 0 auto;
    width: 400px;

}

#form {
    width: 500px;
    height: 500px;
    background-color: #9BB8D5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field {
    margin: 0 auto;
    width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color:#fff;
}

.field input {
    display: block;
    width: 60%;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    border: 1px solid #fff;
    outline: none;
}

input[type="submit"] {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #fff;
    color: #9BB8D5;
    border: none;
    margin-top: 20px;
 }
/* aside */
aside {
    width: 50px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
}
      
aside ul li {
    font-size: 30px;
    margin-bottom: 30px;
}
      
aside ul li:hover {
    transform: scale(1.3);
}

.view-icon li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
      
.view-icon li::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 10px;
    /* background-color: red; */
}
      
/* home, footer보일때 icons 안보이게 하기 */
      
.view-icon.show-off {
    visibility: hidden;
}




